[submodule "aws-greengrass-testing-components/aws-greengrass-testing-components-streammanager/lib/streammanager"]
	path = aws-greengrass-testing-components/aws-greengrass-testing-components-streammanager/lib/streammanager
	url = git@github.com:aws-greengrass/aws-greengrass-stream-manager-sdk-java.git
