.idea
target
*.iml
TEST-*
aws-greengrass-testing-features/**/*.zip
aws-greengrass-testing-features/**/*.jar
greengrass-nucleus-latest.zip
aws.greengrass.nucleus.zip
dependency-reduced-pom.xml
.flattened-pom.xml
testResults
cucumber.json
*DS_Store
*__pycache__
env
*ggtest
